<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  

  <connectionStrings>    
    <add name="DbContext" connectionString="User Id=reas;Password=1234;Data Source = (DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)))" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="FCJDbContext" connectionString="User Id=realstar;Password=real_orcl1;Data Source = (DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=18.1.1.14)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ora.cn)))" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>

</configuration>